{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=object.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=object.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ object.manufacturer.name }}, {{ object.manufacturer.country }})</p>
  <h1>Drivers</h1>
  <form action="{% url 'taxi:car-driver-toggle' object.id %}" method="post">
    {% csrf_token %}
    {% if user in car.drivers.all %}
      <button
          type="submit"
          class="btn btn-secondary"
          style="float: right; background-color: red; color: white"
      >Delete me from this car</button>
    {% else %}
      <button
          type="submit"
          class="btn btn-secondary"
          style="float: right; background-color: green; color: white"
      >Assign me to this car</button>
    {% endif %}
  </form>
  <hr>
  <ul>
    {% for driver in object.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
